/*#chart-perception {*/
/*    display: inline-block;   !* shrink-wrap to SVG *!*/
/*}*/

/* SVG inherits global font */
#chart-perception svg {
    font-family: inherit;
}


/* Axis styling */
.axis path,
.axis line {
    stroke: #999;
}

.axis text {
    font-size: 12px;
    fill: #333;
}

/*#chart-wrapper {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/